# Files and directories created by pub.
*/.dart_tool/
*/.packages

# Conventional directory for build output.
*/build/

# pubspec.lock
*/pubspec.lock

# IDE
.idea/

# FVM version manager
.fvm/
.fvmrc

# Docker runtime data
data/
